@page
@model StudyReg.Web.Pages.Decks.StudyModel
@{
    ViewData["Title"] = "Study";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<br />

@if (Model.Card == null)
{
    <div class="jumbotron" style="text-align:center">
        <div class="container">
            <h1>Study</h1>
            <p class="lead">Learn cards from @Html.DisplayFor(model => model.Deck.Title) using the Leitner System. Earlier stages should be studied more frequently, later stages less frequently.</p>
        </div>
    </div>

    <div class="row">
        @if (Model.Stages != null)
        {
            foreach (var stage in Model.Stages)
            {
                <div class="@(stage.Stage == 0 ? "col-md-2 col-md-offset-1" : "col-md-2")">
                    <div class="panel panel-default">
                        <div class="panel-heading"><h4>@(stage.Stage == 0 ? "Unstudied" : $"Stage {stage.Stage}")</h4></div>
                        <div class="panel-body">
                            <h4>@stage.Count Cards</h4>
                            @if (stage.Count > 0)
                            {
                            <form method="post" asp-page-handler="start">
                                <input type="hidden" name="deckId" value="@Model.Deck.Id" />
                                <input type="hidden" name="stage" value="@stage.Stage" />
                                <input type="hidden" name="numCards" value="@stage.Count" />
                                <button type="submit" class="btn btn-primary btn-lg">
                                    <span class="glyphicon glyphicon-book" aria-hidden="true"></span> Study
                                </button>
                            </form>
                            }
                        </div>
                    </div>
                </div>
            }
        }
    </div>
}
else
{
    <div class="row" style="display:flex;align-items:center">
        <div class="col-sm-2">
            <label class="btn btn-primary btn-lg" id="cardFlip"><i class="glyphicon glyphicon-refresh"></i>&nbsp;Flip</label>
        </div>
        <div class="col-sm-10">
            <div class="jumbotron" style="text-align:center">
                <div class="container">
                    <div id="cardTitle">
                        <h1 style="font-size:8vw;">@Model.Card.Title</h1>
                    </div>
                    <div id="cardAnswer" style="display:none">
                        <h1 style="font-size:8vw;">@Model.Card.Answer</h1>
                    </div>
                </div>
            </div>
            <form id="cardSubmit" method="post" asp-page-handler="answer">
                <input type="hidden" name="deckId" value="@Model.Deck.Id" />
                <input type="hidden" name="cardId" value="@Model.Card.Id" />
                <input type="hidden" name="currentStage" value="@Model.Card." />
                <input id="cardResult" type="hidden" name="result" value="false" />
                <input id="cardResult" type="hidden" name="cardsLeft" value="@Model.Remaining" />
                <button id="correctButton" type="submit" class="btn btn-success btn-lg">
                    <i class="glyphicon glyphicon-check">&nbsp;Correct</i>
                </button>
                <button id="wrongButton" type="submit" class="btn btn-danger btn-lg">
                    <i class="glyphicon glyphicon-remove">&nbsp;Wrong</i>
                </button>
            </form>
        </div>
    </div>
}

<script>
    function flip () {
        if ($("#cardTitle").is(":hidden")) {
            $("#cardTitle").show();
            $("#cardAnswer").hide();
            $("#cardSubmit").hide();
        }
        else {
            $("#cardTitle").hide();
            $("#cardAnswer").show();
            $("#cardSubmit").show();
        }
    };

    $('#correctButton').click(function () {
        $('#cardResult').val("true");
    });

    $('#wrongButton').click(function () {
        $('#cardResult').val("false");
    });

    $('#cardAnswer').hide();
    $("#cardSubmit").hide();

    $('#cardFlip').click(flip);

    $(document).keydown(function (event) {
        let key = event.keyCode;
        switch (key) {
            case 32: //spacebar
                flip();
                break;
        }
    });
</script>